.border{
    border: 2px solid red;
}
.black-border{
    border: 2px solid black;
}
.rounded{
    border-radius: 15px;
}
.m-1{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color:#121212;
}
.invert{
    filter: invert(1);
}
